* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: "a b c"
                         "d e f"
                         "g h i";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

section {
    border: 1px black solid;
    border-radius: 15px;
    padding: 10%;
    margin: 2%;
}

section#cadastro {
    grid-area: d;
}

section#detalhe {
    grid-area: e;
}

section#extrato {
    grid-area: f;
}